<p>Hello <%= @name %>!</p>,

Congratulations! You have successfully changed your password!<br>
<br>
Your new password: <%= @userPW %><br>

Manage your account <%= link_to 'here', @address %>.<br>
<br><br><br>
Regards