<p>Hello <%= @name %>!</p>

<p>Someone has requested a link to reset your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', @address %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>