<center>
<h2>Change your password</h2>

<%= form_tag users_update_password_path(:id => @user.id), :method => :post do %>

  <div><%= label_tag :password, "New password" %><br />
  	<input id="password" name="password" type="password" placeholder="New Password" autocomplete="off" autofocus />

  <div><%= label_tag :password_confirmation, "Confirm new password" %><br />
  	<input id="password_confirmation" name="password_confirmation" type="password" placeholder="Confirm Password" autocomplete="off" autofocus />

  <div><%= submit_tag "Change my password" %></div>
<% end %>
</center>